.wrapper {
  background-color: var(--background);
  border-radius: 4px;
  border: 1px solid var(--border);
  padding: 24px;
  padding-bottom: 48px;
  color: black;
}

/* .wrapper:focus { */
/*   box-shadow: var(--shadow-elevation-medium); */
/* } */

